<article class="blog-post clearfix">
    <header class="blog-title">
        <h1><a href="/post/<%= @name %>/"><%= @meta.title %></a></h1>
        <p class="blog-meta">
            <span class="meta-text">
                <time pubdate="pubdate" datetime="<%= @meta.date.toISOString() %>">
                    <%= require('moment')(@meta.date).format('MMM D, YYYY') %>
                </time>
                <span class="separator"></span>
                <a href="/post/<%= @name %>/#disqus_thread">Discuss</a>
            </span>
        </p>
    </header>
    <div class="blog-body">
        <%- @content %>
    </div>
</article>
