{
	"root": true,
	"extends": "@aduth/eslint-config",
	"plugins": ["react"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"node": true
	},
	"rules": {
		"react/jsx-uses-vars": "error"
	}
}
