<footer class="copyright">
    <small>Copyright &copy; 2012-{{ now "%Y" }} Andrew Duthie. Unless otherwise noted, content is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</small>
</footer>