<aside class="me-links">
  <a class="rss" href="/feed.xml">RSS</a>
  <a class="github" href="https://github.com/aduth" target="_blank">GitHub</a>
  <a class="twitter" href="https://twitter.com/andrew_duthie" target="_blank">Twitter</a>
  <a class="linkedin" href="http://linkedin.com/in/aduth" target="_blank">LinkedIn</a>
</aside>