<aside class="me-links">
  <a class="rss" href="/feed.xml">RSS</a>
  <a class="github" href="https://github.com/{{ site.author.social.github }}" target="_blank">GitHub</a>
  <a class="twitter" href="https://twitter.com/{{ site.author.social.twitter }}" target="_blank">Twitter</a>
  <a class="linkedin" href="http://linkedin.com/in/{{ site.author.social.linkedin }}" target="_blank">LinkedIn</a>
</aside>