<!doctype html>
<html>
<head>
    {{> head }}

    <title>{{ default title Home }} | AndrewDuthie.com</title>
</head>
<body>

<header class="intro">
    <% content 'header' %>
</header>

<div class="container main-content">
    <% content 'main' %>
</div>

<footer class="copyright">
    <small>Copyright &copy; 2012-<%= new Date().getFullYear() %> Andrew Duthie. Unless otherwise noted, content is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</small>
</footer>

<script>
// Google Analytics
var _gaq = [['_setAccount', 'UA-37326155-1'], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));

// Disqus
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://andrewduthie.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>