<!doctype html>
<html>
<head>
  {{> head }}
  <meta property="og:title" content="Andrew Duthie">
  <meta property="og:type" content="profile">
  <meta property="og:url" content="http://www.andrewduthie.com/">
  <meta property="profile:first_name" content="Andrew">
  <meta property="profile:last_name" content="Duthie">
  <meta property="profile:gender" content="male">

  <title>{{ default title "Home" }} | AndrewDuthie.com</title>
</head>
<body>

<header class="intro">
  <div class="container about-me" itemscope itemtype="http://schema.org/Person">
    <span class="headshot">
      <img src="/assets/img/andrew.png" alt="Andrew Duthie" width="135" height="135" itemprop="image">
    </span>
    <h1 itemprop="name">Andrew Duthie</h1>
    {{> me-links }}
    <p itemprop="description"><span itemprop="jobTitle">Developer and modern web enthusiast</span>. Passionate about learning the newest and greatest in front-end web development and open source. This blog serves as a way for me to share my thoughts and findings on the development industry and lifestyle.</p>
  </div>
</header>

<div class="container main-content">
  {{> body }}
</div>

{{> footer }}

<script>
// Google Analytics
var _gaq = [['_setAccount', 'UA-37326155-1'], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));

// Disqus
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://andrewduthie.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>