<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="<% content 'description' %>">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://use.edgefonts.net/lusitana;open-sans:n3.js"></script>
    <link rel="stylesheet" href="<%= helpers.fileHash('/css/main.css', { root: './public/' }) %>">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="AndrewDuthie.com Blog (Atom)">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title><% content 'title' %> | AndrewDuthie.com</title>
</head>
<body>

<section class="intro">
    <% content 'header' %>
</section>

<div class="container main-content">
    <% content 'main' %>
</div>
<script>
// Google Analytics
var _gaq = [['_setAccount', 'UA-37326155-1'], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));

// Disqus
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://andrewduthie.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
