@mixin optimized-font-face($font-family, $file-path, $weight: normal, $style: normal ) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$file-path}.svg##{$font-family}') format('svg'),
            url('#{$file-path}.woff') format('woff'),
            url('#{$file-path}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include optimized-font-face('icomoon', '../font/icomoon');

body {
    font-family: open-sans, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.4;
    color: $base-font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: lusitana, Georgia, serif;
    font-weight: normal;

    margin: 0.5em 0;
}

h5 { color: darken($base-font-color, 2%); }
h4 { color: darken($base-font-color, 4%); }
h3 { color: darken($base-font-color, 6%); }
h2 { color: darken($base-font-color, 8%); }
h1 { color: darken($base-font-color, 10%); }