$max-width: 960px;

$base-background: #F9F7F4;
$header-background: #26333A;

$base-font-color: #57534A;
$link-color: #c73036;

$break-medium: 850px;
$break-small: 600px;
$break-mobile-logo: 200px;